In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import datetime
from datetime import datetime, timedelta

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1107,tt0325703,95000000,156505388,Lara Croft Tomb Raider: The Cradle of Life,Angelina Jolie|Gerard Butler|Noah Taylor|Djimo...,Jan de Bont,Adventuress Lara Croft goes on a quest to save...,Intrepid British archaeologist Lara Croft has ...,117,Action|Adventure|Fantasy|Thriller,Paramount Pictures|Toho-Towa|Mutual Film Compa...,7/21/2003,5.5,2003
1583,tt0359013,65000000,128905366,Blade: Trinity,Wesley Snipes|Kris Kristofferson|Dominic Purce...,David S. Goyer,The final hunt begins.,"For years, Blade has fought against the vampir...",123,Science Fiction|Action|Horror|Thriller|Adventure,New Line Cinema|Amen Ra Films|Shawn Danielle P...,12/8/2004,5.7,2004
69,tt2510894,80000000,466183544,Hotel Transylvania 2,Adam Sandler|Andy Samberg|Selena Gomez|Kevin J...,Genndy Tartakovsky,They're back to raise a little terror,When the old-old-old-fashioned vampire Vlad ar...,89,Animation|Comedy|Family,Columbia Pictures|Sony Pictures Animation,9/21/2015,6.8,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
1806,tt0175142,19000000,278019771,Scary Movie,Carmen Electra|Dave Sheridan|Anna Faris|Jon Ab...,Keenen Ivory Wayans,No mercy. No shame. No sequel.,Following on the heels of popular teen-scream ...,88,Comedy,Gold/Miller Productions|Wayans Bros. Entertain...,7/7/2000,5.9,2000

In [4]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit,month,len_title,len_overview
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000,1889.000000,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,6.933298,15.037057,307.432504
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,3.390196,8.552660,155.040423
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,1.000000,1.000000,58.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,4.000000,9.000000,185.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,7.000000,13.000000,288.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,10.000000,18.000000,390.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,12.000000,83.000000,1000.000000

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit']=data['revenue']-data['budget']
data['release_date'] =  pd.to_datetime(data['release_date'], format='%m/%d/%Y')
data['month'] = data.release_date.dt.month
data['len_title'] = data.original_title.agg(lambda x: len(x))
data['len_overview'] = data.overview.agg(lambda x: len(x))
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

In [6]:
#data.cast.apply(lambda x:x.split('|')[0])
data.cast.apply(lambda x:x.split('|')) #заготовка, может пригодится

0       [Chris Pratt, Bryce Dallas Howard, Irrfan Khan...
1       [Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...
2       [Shailene Woodley, Theo James, Kate Winslet, A...
3       [Harrison Ford, Mark Hamill, Carrie Fisher, Ad...
4       [Vin Diesel, Paul Walker, Jason Statham, Miche...
                              ...
1884    [Patrick Stewart, Hugh Jackman, Ian McKellen, ...
1885    [Richard E. Grant, Jonathan Lipnicki, Jim Cart...
1886    [Rene Russo, Jason Alexander, Piper Perabo, Ra...
1887    [Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...
1888    [Susan Ward, Lori Heuring, Matthew Settle, Nat...
Name: cast, Length: 1889, dtype: object

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [4]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget']==data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [6]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [5]:
data[data['runtime']==data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [6]:
data[data['runtime']==data['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = '2. 110'

In [7]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '1. 107'

In [8]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
answers['6'] = '5. Avatar (tt0499549)'

In [10]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data['profit']==data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [16]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [11]:
data[data['profit']==data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [17]:
answers['8'] = '1. 1478'

In [12]:
len(data[data['profit']>0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [18]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [21]:
data[(data.release_year==2008)].sort_values('revenue', ascending=False).iloc[0]

imdb_id                                                         tt0468569
budget                                                          185000000
revenue                                                        1001921825
original_title                                            The Dark Knight
cast                    Christian Bale|Michael Caine|Heath Ledger|Aaro...
director                                                Christopher Nolan
tagline                                                   Why So Serious?
overview                Batman raises the stakes in his war on crime. ...
runtime                                                               152
genres                                        Drama|Action|Crime|Thriller
production_companies    DC Comics|Legendary Pictures|Warner Bros.|Syncopy
release_date                                                    7/16/2008
vote_average                                                          8.1
release_year                                                         2008
profit                                                          816921825
Name: 599, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [19]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [20]:
data[(2012<=data.release_year)&(data.release_year<=2014)].sort_values('profit', ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_title,len_overview
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7,15,386

# 11. Какого жанра фильмов больше всего?

In [31]:
answers['11'] = '3. Drama'

In [29]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genre_counter = {}
for i in data.genres.str.split('|'):
    for j in i:
        genre_counter.setdefault(j, 0)
        genre_counter[j]+=1

genre_counter_df = pd.Series(genre_counter).reset_index() # Преобразуем полученный словарь в Data Frame
genre_counter_df.columns=['genre', 'count']   # Дадим имена колонкам Data Frame
print(genre_counter_df.sort_values('count', ascending=False)) # Выведем на печать, отсортировав Data Frame по колонке count по убыванию

              genre  count
7             Drama    782
10           Comedy    683
3          Thriller    596
0            Action    582
1         Adventure    415
5             Crime    315
12          Romance    308
8            Family    260
2   Science Fiction    248
4           Fantasy    222
16           Horror    176
11          Mystery    168
9         Animation    139
15            Music     64
14          History     62
13              War     58
6           Western     19
17      Documentary      8
18          Foreign      2

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = '1. Drama'

In [34]:
genre_counter = {}
for i in data[data.profit>0].genres.str.split('|'):   # Запускаем цикл по отфильтрованному по прибыльности Data Frame
    for j in i:
        genre_counter.setdefault(j, 0)
        genre_counter[j]+=1

genre_counter_df = pd.Series(genre_counter).reset_index()
genre_counter_df.columns=['genre', 'count']
print(genre_counter_df.sort_values('count', ascending=False))

              genre  count
7             Drama    560
10           Comedy    551
3          Thriller    446
0            Action    444
1         Adventure    337
12          Romance    242
5             Crime    231
8            Family    226
2   Science Fiction    195
4           Fantasy    188
16           Horror    150
9         Animation    120
11          Mystery    119
15            Music     47
14          History     46
13              War     41
6           Western     12
17      Documentary      7

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [38]:
answers['13'] = '5. Peter Jackson'

In [36]:
c = Counter()
for i,directors in enumerate(data.director.str.split('|')):
    for director in directors:
        c[director] += data.revenue.iloc[i]
c.most_common(1) # Выводим первый элемент отсортированного по убыванию словаря

[('Peter Jackson', 6490593685)]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [39]:
answers['14'] = '3. Robert Rodriguez'

In [40]:
c = Counter()
list_genres = data.genres.str.split('|')

for i in range(len(data)):
    if 'Action' in list_genres.iloc[i]:
        for dir in data.director.iloc[i].split('|'):
            c[dir] += 1

sorted(c, key = c.get, reverse = True)[0]
#В фильмах какого жанра больше всего снимался Nicolas Cage?

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [42]:
answers['15'] = '3. Chris Hemsworth'

In [41]:
c = Counter()
data_2012 = data[data.release_year == 2012]
for i, acts in enumerate(data_2012.cast.str.split('|')):
    for actor in acts:
        c[actor] += data_2012.revenue.iloc[i]
#sorted(c, key = c.get)[0]
c.most_common(1)

[('Chris Hemsworth', 2027450773)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [48]:
answers['16'] = '3. Matt Damon'

In [46]:
high_budget=data[data.budget>data.budget.mean()] # Отфильтрованы высокобюджетные фильмы
my_counter = {}
for i in high_budget.cast.str.split('|'):
    for j in i:
        my_counter.setdefault(j, 0)
        my_counter[j]+=1

actors = pd.Series(my_counter).reset_index()
actors.columns=['acts', 'count']
print(actors.sort_values('count', ascending=False).head(1))

          acts  count
34  Matt Damon     18

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [49]:
answers['17'] = '2. Action'

In [12]:
c = Counter()
list_acts = data.cast.str.split('|')

for i in range(len(data)):
    if 'Nicolas Cage' in list_acts.iloc[i]:
        for genre in data.genres.iloc[i].split('|'):
            c[genre] += 1

sorted(c, key = c.get, reverse = True)[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [50]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [51]:
c = Counter()

for i,studios in enumerate(data.production_companies.str.split('|')):
    for studio in studios:
        if studio == 'Paramount Pictures':
            c[data.original_title.iloc[i]] += data.profit.iloc[i]

sorted(c, key = c.get)[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [57]:
answers['19'] = '5. 2015'

In [56]:
data.groupby(['release_year']).revenue.sum().sort_values(ascending = False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [58]:
answers['20'] = '1. 2014'

In [59]:
data_t = pd.DataFrame(columns = list(data.columns))
for i,companies in enumerate(data.production_companies.str.split('|')):
    for company in companies:
        if 'Warner Bros' in company:
            data_t = data_t.append(data.iloc[i])
            break
data_t.groupby(['release_year']).profit.sum().sort_values(ascending = False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [60]:
answers['21'] = '4. Сентябрь'

In [61]:
data['month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [62]:
answers['22'] = '2. 450'

In [63]:
data[((data.month==6)|(data.month==7)|(data.month==8))]['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [64]:
answers['23'] = '5. Peter Jackson'

In [65]:
my_counter = {}

for row in data['director'].str.split('|'):
    for j in row:
        my_counter.setdefault(j, 0)

for k in my_counter.keys():
    my_counter[k] = len(data[(data['director'].str.contains(k))&((data.month==1)|(data.month==2)|(data.month==12))])

my_counter_df = pd.Series(my_counter).reset_index()
my_counter_df.columns = ['director', 'count']
display(my_counter_df.sort_values('count', ascending=False).head(1))

          director  count
128  Peter Jackson      7

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [66]:
answers['24'] = '5. Four By Two Productions'

In [67]:
c = Counter()
means = {}
count_films_studios = {}

for i, lenth in enumerate(data.len_title):
    for company in data.production_companies.str.split('|').iloc[i]:
        c[company] += 1
        try:
            count_films_studios[company] += lenth
        except:
            count_films_studios[company] = lenth
            
for studio in sorted(c):
    means[studio] = count_films_studios[studio]/c[studio]

sorted(means, key = means.get, reverse = True)[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [68]:
answers['25'] = '3. Midnight Picture Show'

In [69]:
c = Counter()
means = {}
count_films_studios = {}

for i, lenth in enumerate(data.len_overview):
    for company in data.production_companies.str.split('|').iloc[i]:
        c[company] += 1
        try:
            count_films_studios[company] += lenth
        except:
            count_films_studios[company] = lenth
            
for studio in sorted(c):
    means[studio] = count_films_studios[studio]/c[studio]

sorted(means, key = means.get, reverse = True)[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [71]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [72]:
one_percent=int(len(data)/100)   # Выясняем, 1% это сколько?
data.sort_values(['vote_average']).tail(one_percent).original_title  # Выводим последние 18 фильмов в отсортированном по возрастанию по vote_average Дата Фрейме

155                          The Theory of Everything
863             The Lord of the Rings: The Two Towers
1688                              There Will Be Blood
283                                        Mr. Nobody
1191                                 12 Years a Slave
872                                       The Pianist
128                                         Gone Girl
1800                                          Memento
119                           Guardians of the Galaxy
370                                         Inception
1183                          The Wolf of Wall Street
138                          The Grand Budapest Hotel
1081    The Lord of the Rings: The Return of the King
34                                               Room
118                                      Interstellar
9                                          Inside Out
125                                The Imitation Game
599                                   The Dark Knight
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [73]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [74]:
# Пока не решила эту задачу без использования вариантов ответов
# задача интересная, порешаю ее на досуге без подсказок в виде вариантов ответов

cast_df = data[['imdb_id', 'cast']]
inseparable = [
    ['Johnny Depp', 'Helena Bonham Carter', 0],
    ['Ben Stiller', 'Owen Wilson', 0],
    ['Vin Diesel', 'Paul Walker', 0],
    ['Adam Sandler', 'Kevin James', 0],
    ['Daniel Radcliffe', 'Rupert Grint', 0]
]


for i in cast_df['cast'].str.split('|'):
    for j in range(0, 5):
        if (inseparable[j][0] in list(i)) and (inseparable[j][1] in list(i)):
            inseparable[j][2]+=1
display(inseparable)

[['Johnny Depp', 'Helena Bonham Carter', 6],
 ['Ben Stiller', 'Owen Wilson', 6],
 ['Vin Diesel', 'Paul Walker', 5],
 ['Adam Sandler', 'Kevin James', 5],
 ['Daniel Radcliffe', 'Rupert Grint', 8]]

ВАРИАНТ 2

# Submission

In [75]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [76]:
# и убедиться что ни чего не пропустил)
len(answers)

27